<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end" style="margin-top: 10px; border-radius: 5px;">
            <h2><b>About us</b></h2>
          </div>
          <div style="background-color: white;">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                 Pellentesque ultricies nisi facilisis nulla aliquam faucibus. Morbi ac fermentum massa, a mattis mauris.
                 Aenean non tristique lacus, et auctor turpis. Quisque sed blandit neque, eget malesuada ipsum.
                 Vivamus sodales eleifend diam, in sollicitudin erat. Morbi id libero suscipit, pharetra justo vel, tristique metus.
                 Aliquam aliquam dignissim justo eu dignissim. Duis gravida suscipit tempus. Vestibulum vehicula sed ligula a tincidunt.
                 Phasellus porta eros sit amet rutrum sodales. Nulla accumsan leo eget orci vehicula, ut dapibus augue interdum. 
                 Morbi ultrices, leo suscipit posuere malesuada, ex nisi varius metus, sit amet vulputate lectus nisi vitae risus.
                 Donec ac purus malesuada, rhoncus quam in, consequat dolor.
                    </p>
                </div>
      </div>
        <div class="row align-items-center">
            <div class="col">
                <div style="margin-top: 10px;"><img src="https://media.istockphoto.com/id/1131949134/photo/wild-african-elephant-in-the-savannah-serengeti-national-park-wildlife-of-tanzania-african.jpg?s=612x612&w=0&k=20&c=D0IH4ABSx4hLgaGzw179jnSWA_fixfUoofmMUIO9Vug=" class="img-fluid" alt="..."></div>
              </div>
          <div class="col">
            <div><img src="https://media.istockphoto.com/id/520839324/photo/wild-elephant.jpg?s=612x612&w=0&k=20&c=jnDbuC5oqdaH_OCVsBGa19A5sCx7EVKj94DdVA6Xe0g=" class="img-fluid" alt="..."></div>
          </div>